.product-detail-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 12px;
  background-color: var(--white);
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.product-detail-close:hover {
  cursor: pointer;
}

.info-product {
  margin: 0 24px;
}

.info-product p:nth-child(1) {
  font-size: var(--med);
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 4px;
}

.info-product p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--med);
  margin-bottom: 20px;
}

.info-product p:nth-child(3) {
  color: var(--very-light-pink);
  font-size: var(--med);
  margin-bottom: 40px;
}

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
}